[Desktop Entry]
Encoding=UTF-8
Name=Lien vers https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.p1BSufAJBEL46Ejb5JjEJwHaIh%26pid%3DApi&f=1&ipt=ebd90617958250e843443cd1074839d9518f86811c81e307cb5f2524673befe6&ipo=images
Type=Link
URL=https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.p1BSufAJBEL46Ejb5JjEJwHaIh%26pid%3DApi&f=1&ipt=ebd90617958250e843443cd1074839d9518f86811c81e307cb5f2524673befe6&ipo=images
Icon=image-jpeg
